name: CI-CD-Docker AWS ECS
on:
  push:
    branches:
      #- production 
      # - stage  
      # - test
      - develop  

jobs:
  call_reusable_workflow_build:
    # needs: setup
    # Importing a reusable workflow from another repository and branch
    uses: trudo-org-devops/reusable_workflows/.github/workflows/docker-build-image-v4.yaml@main
    with:
        environment_name: ${{ github.ref_name }} # Specifies the environment dynamically as an input
    secrets:
      TRUDO_AWS_ACCESS_KEY_ID: ${{ secrets.TRUDO_AWS_ACCESS_KEY_ID }}
      TRUDO_AWS_SECRET_ACCESS_KEY: ${{ secrets.TRUDO_AWS_SECRET_ACCESS_KEY }}
  
  call_reusable_workflow_deploy:
    needs: call_reusable_workflow_build
    # Importing a reusable workflow from another repository and branch
    uses: trudo-org-devops/reusable_workflows/.github/workflows/docker-deploy-ecs-image-v2.yaml@main
    with:
      environment_name: ${{ github.ref_name }} # Specifies the environment dynamically as an input
    secrets:
      TRUDO_AWS_ACCESS_KEY_ID: ${{ secrets.TRUDO_AWS_ACCESS_KEY_ID }}
      TRUDO_AWS_SECRET_ACCESS_KEY: ${{ secrets.TRUDO_AWS_SECRET_ACCESS_KEY }}
